# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Test files and old#
test*
*_test.m
.tests_olds 
*_old.py
*_old
*_v0.m
#*examples


#MATLAB
*.m~


# SPECIFIC
.DS_Store*
.maybe.tmp.old.